.column_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  /* Fill available space */
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.column_header {
  color: white;
  font-size: 16px;
  font-weight: 700;
}
@media (width >= 768px) {
  .column_header {
    font-size: 20px
  }
}
@media (width >= 1024px) {
  .column_header {
    font-size: 24px
  }
}

.column_link {
  color: white;
  font-size: 14px;
}
@media (width >= 768px) {
  .column_link {
    font-size: 16px;
  }
}
@media (width >= 1024px) {
  .column_link {
    font-size: 18px;
  }
}